# Managed by Composer
/bin/
/vendor/

# PHPUnit
/phpunit.xml
/db-test.xml
/build/
/coverage.clover

# testbench
/db-test.xml.dist
/db-test.html
/php-mongo.json.dist
/tests/testbench/*

# Composer
/composer.phar

# ide
/.project
/.idea/
